<h2>Тест "<%= @question.test.title %>", текст вопроса:</h2>
<p><span style="border: 1px solid LightGray; padding: 5px;"><%= @question.body %></span></p>

<table>
  <tr>
    <td><%= render 'button_back' %></td>
    <td><%= render 'button_edit', instance: @question %></td>
    <td><%= render 'button_delete', instance: @question %></td>
  </tr>
</table>
