<div align="center">
  <div>
    <% if logged_in? %>
      <h3>Вы уже вошли как: <%= current_user.name %></h3>
    <% else %>
      <h1 style="text-align: center;">Войти в свою учетную запись на TestGuru</h1>
      <%= form_with url: sessions_path, local: true do |form| %>
        <%= render 'shared/flash' %>

        <p>
          <div><%= form.label :email, 'Почта:' %></div>
          <div><%= form.text_field :email, id: :email %></div>
        </p>
        
        <p>
          <div><%= form.label :password, 'Пароль:' %></div>
          <div><%= form.password_field :password, id: :password %></div>
        </p>

        <p><div><%= form.submit 'Войти' %></div></p>
      <% end %>
    <% end %>

    <br><%= button_to 'На главную', root_path, method: :get %>
  </div>
</div>
