<div class="row justify-content-center">
  <div class="col-md-5 col-lg-4">
    <div class="card border-primary">
      <div class="card-body" align="center">
    <h2><%= t('.header') %></h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="form-group">
        <p align="center">
          <%= f.label :first_name %>
          <%= f.text_field :first_name, autofocus: true, class: 'form-control', autocomplete: "first_name" %>
        </p>
        <p align="center">
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control', autocomplete: "last_name" %>
        </p>
        <p align="center">
          <%= f.label :email %>
          <%= f.email_field :email, class: 'form-control', autocomplete: "email" %>
        </p>
        <p align="center">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= t('.minimum_password_length', length: @minimum_password_length) %>)</em>
          <% end %>
          <%= f.password_field :password, class: 'form-control' %>
        </p>
        <p align="center">
          <%= f.label :password_confirmation %>
          <%= octicon 'alert', class: 'hide' %>
          <span style="display: none;" id="tooltip-password-failed"><%= t('.password_confirmation_failed') %></span>
          <span style="display: none;" id="tooltip-password-passed"><%= t('.password_confirmation_passed') %></span>
          <%= f.password_field :password_confirmation, class: 'form-control' %>
        </p>
          <p align="center"><%= f.submit t('.sign_up'), class: 'btn btn-primary' %></p>
      </div>
    <% end %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  </div>
</div>

<button type="button" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Tooltip on top 1">
  Tooltip on top
</button>
<span title="Tooltip on top 1">123</span>
