<div class="row table-border">
  <% Gist.all.each do |gist| %>
    <div class="col-md-4 table-border">
      <% if gist.question.body.length <= Gist::MAXIMUM_VIEW_STRING_LENGTH %>
        <%= link_to gist.question.body, admin_question_path(gist.question) %>
      <% else %>
        <%= link_to gist.question.body[0,25].., admin_question_path(gist.question) %>
      <% end %>
    </div>
    <div class="col-md-4 table-border">
      <% if gist.question.body.length <= Gist::MAXIMUM_VIEW_STRING_LENGTH %>
        <%= link_to gist.link, gist.link %>
      <% else %>
        <%= link_to gist.link[0,25].., gist.link %>
      <% end %>
    </div>
    <div class="col-md-4 table-border">
      <% if gist.question.body.length <= Gist::MAXIMUM_VIEW_STRING_LENGTH %>
        <%= gist.user.email %>
      <% else %>
        <%= gist.user.email[0,25] %>
      <% end %>
    </div>
  <% end %>
</div>
