<div align="center">
  <div>
    <% if logged_in? %>
      <h3>Вы уже вошли как: <%= current_user.name %></h3>
      <p>Для регистрации нового пользователя необходимо выйти из существующего аккаунта</p>
    <% else %>
      <h1 style="text-align: center;">Стать Гуру</h1>

      <%= form_with model: @user, local: true do |form| %>
        <%= render 'shared/errors', instance: @user %>

        <p>
          <div><%= form.label :name, 'Имя:' %></div>
          <div><%= form.text_field :name, id: :user_name %></div>
        </p>

        <p>
          <div><%= form.label :email, 'Почта:' %></div>
          <div><%= form.text_field :email, id: :user_email %></div>
        </p>
        
        <p>
          <div><%= form.label :password, 'Пароль:' %></div>
          <div><%= form.password_field :password, id: :user_password %></div>
        </p>

        <p>
          <div><%= form.label :password_confirmation, 'Подтверждение:' %></div>
          <div><%= form.password_field :password_confirmation, id: :user_password_confirmation %></div>
        </p>

        <p><div><%= form.submit 'Зарегистрироваться' %></div></p>
      <% end %>
    <% end %>

    <br><%= button_to 'На главную', root_path, method: :get %>
  </div>
</div>
