<div class="row table-border">
  <div class="col-md-12">
    <div>
      <div class="row">
          <div class="col-md-3">
            <%= t('.header') %>
          </div>
        <div class="col-md-9">
          <b><%= @test_passage.test.title %></b>
        </div>
      </div>
      <hr>
    </div>
    <div>
      <p>
        <%= t('.question_number', current_question_number: @test_passage.current_question_number, questions_count: @test_passage.questions_count) %>
        <b><%= @test_passage.current_question.body %></b>
      </p>
      <%= form_with url: test_passage_path(@test_passage), method: :put, local: true do |form| %>
        <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
          <p>
            <%= b.check_box id: "answer_ids_#{b.object.id}" %>
            <%= b.label %>
          </p>
        <% end %>
        <hr>
        <p><%= form.submit t('.next_question') %></p>
      <% end %>
    </div>
    <div>
      <%= link_to t('.back'), tests_path, method: :get, data: { confirm: t('.back_confirmation') } %>
    </div>
  </div>
</div>
