<span class="hide info-progress"
      data-current-progress="<%= @test_passage.current_question_number %>"
      data-maximum-progress="<%= @test_passage.questions_count %>">
</span>
<span class="hide info-time-left timer-js"
      data-time-left="<%= @test_passage.time_left %>">
</span>

<div class="row table-border">
  <div class="col-md-12">
    <div>
      <div class="row">
          <div class="col-md-3">
            <%= t('.header') %>
          </div>
        <div class="col-md-6">
          <b><%= @test_passage.test.title %></b>
        </div>
        <div class="test-timer col-md-3" style="display: none;">
          <%= t('.timer') %>: <span id=test_timer_string></span>
        </div>
      </div>
      <div class="mt-2 mb-4">
        <!-- html + js realization with data from erb -->
        <div class="js-progress">
          <div class="js-progress-bar-overal">
            <div class="js-progress-bar-current"></div>
          </div>
        </div>
        <!-- erb + bootstrap realization -->
        <div class="progress" style="display: none;">
          <div class="progress-bar" role="progressbar" style="width: <%= @test_passage.current_question_number.to_f * 100 / @test_passage.questions_count %>%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
      </div>
    </div>
    <div>
      <p><%= t('.question_number', current_question_number: @test_passage.current_question_number, questions_count: @test_passage.questions_count) %> <b><%= @test_passage.current_question.body %></b></p>
      <%= form_with url: test_passage_path(@test_passage), method: :put, local: true do |form| %>
        <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :body, include_hidden: false do |b| %>
          <p>
            <%= b.check_box id: "answer_ids_#{b.object.id}" %>
            <%= b.label %>
          </p>
        <% end %>
        <hr>
        <div class="row">
          <div class="col-md-6" align="left">
            <%= form.submit t('.next_question') %>
          </div>
          <div class="col-md-6"  align="right">
            <%= link_to t('.create_gist'), test_passage_gists_path(@test_passage), method: :post %>
          </div>
        </div>
      <% end %>
    </div>
    <br>
    <div>
      <%= link_to t('.back'), tests_path, method: :get, data: { confirm: t('.back_confirmation') } %>
    </div>
  </div>
</div>
