<div class="nav">
  <div style="padding-right: 15px;" align="right">
    <div style="padding-right: 10px; padding-bottom: 5px; background-color: lightgray; display: table-row; max-width: 1200px; min-width: 850px;">
      <div style="display: table-cell; width: 1200px; min-width: 100px; height: 50px; text-align: left; vertical-align: middle;">
        <div style="padding-left: 10px; white-space: nowrap;">
          <span style="font-size: 200%;">
            <b><%= link_to 'TestGuru', root_path, { class: 'no-decoration-link' } %></b>
          </span>
        </div>
      </div>
      <div style="display: table-cell; vertical-align: middle; padding: 0px 50px 0px 50px;" align="center">
        <table>
          <tr>
            <td><%= button_to 'ru', tests_path, method: :get, params: { lang: "ru" } %></td>
            <td><%= button_to 'en', tests_path, method: :get, params: { lang: "en" } %></td>
          </tr>
        </table>
      </div>
      <% if user_signed_in? %>
        <div style="display: table-cell; max-width: 200px; min-width: 100px; padding-bottom: 5px; vertical-align: top;">
          <div style="padding: 5px 5px 0px 5px; white-space: nowrap;">
            <%= t('shared.nav.guru') %> <b><%= current_user.first_name %></b>
          </div>
          <div style="padding: 5px 5px 0px 5px;">
            <%= link_to t('shared.nav.exit'), destroy_user_session_path, { method: :delete, data: { confirm: 'Вы уверены?' }, class: 'no-decoration-link' } %>
          </div>
        </div>
      <% else %>
        <div style="display: table-cell; white-space: nowrap; max-width: 200px; min-width: 100px; padding-right: 5px; vertical-align: middle;">
          <span><%= link_to t('shared.nav.sign_up'), new_user_registration_path, { class: 'no-decoration-link' } %></span>
          <span> / </span>
          <span><%= link_to t('shared.nav.sign_in'), new_user_session_path, { class: 'no-decoration-link' } %></span>
        </div>
      <% end %>
    </div>
  </div>
</div>
