<div class="row user-nav">
  <div class="col-md-6">
    <div class="d-flex justify-content-start align-items-center">
      <div class="p-2 me-3"><%= link_to 'TestGuru', root_path, { class: 'brand-link' } %></div>
      <% if admin? %>
        <div class="p-2"><%= link_to 'Admin', admin_tests_path, { class: 'brand-link' } %></div>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="d-flex justify-content-end align-items-center">
      <% if user_signed_in? %>
        <div class="p-2"><%= button_to 'ru', tests_path, method: :get, params: { lang: "ru" } %></div>
        <div class="p-2 me-5"><%= button_to 'en', tests_path, method: :get, params: { lang: "en" } %></div>
        <div class="p-2">
          <div align="right"><%= t('shared.nav.guru') %> <b><%= current_user.first_name %></b></div>
          <div align="right"><%= link_to t('shared.nav.exit'), destroy_user_session_path, { method: :delete, data: { confirm: 'Вы уверены?' }, class: 'no-decoration-link' } %></div>
        </div>
      <% else %>
        <div class="p-2"><%= button_to 'ru', new_user_session_path, method: :get, params: { lang: "ru" } %></div>
        <div class="p-2 me-5"><%= button_to 'en', new_user_session_path, method: :get, params: { lang: "en" } %></div>
        <div class="p-2">
          <div align="right"><%= link_to t('shared.nav.sign_up'), new_user_registration_path, { class: 'no-decoration-link' } %></div>
          <div align="right"><%= link_to t('shared.nav.sign_in'), new_user_session_path, { class: 'no-decoration-link' } %></div>
        </div>
      <% end %>
    </div>
  </div>
</div>
