<h2><%= answer_header(@answer) %> ответ для вопроса:</h2>
<span style="border: 1px solid lightgray; padding: 5px;">
  <%= @answer.question.body %>
</span>

<%= form_with model: [@question, @answer], local: true do |form| %>
  <%= render 'shared/errors', instance: @answer %>

  <p>
    <%= form.label :body, 'Ответ:' %>
    <% if @answer.errors.empty? %><br><% end %>
    <%= form.text_area :body, id: :answer_body, cols: 100, rows: 5 %>
  </p>

  <p>
    <%= form.label :correct, 'Это верный ответ' %>
    <%= form.check_box :correct, id: :answer_correct %>
  </p>

  <p><%= form.submit submit_name%></p>
<% end %>
