<div class="row table-border">
  <div class="col-md-8 table-border">
    <div>
      <h2><%= t('.header') %>:</h2>
      <p>
        
      <div style="border: 1px solid lightgray; padding: 5px;">
        <%= @answer.question.body %>
      </div>
      </p>


      <h2><%= t('.answer') %>:</h2>
      <div style="border: 1px solid lightgray; padding: 5px;">
        <%= @answer.body %>
      </div>

      <br><p>
        <% if @answer.correct %>
          <span style="border: 2px solid lime;"><%= t('.correct_true') %></span>
        <% else %>
          <span style="border: 2px solid red;"><%= t('.correct_false') %></span>
        <% end %>
      </p>
    </div>
  </div>
  <div class="col-md-4 table-border">
    <div><%= link_to t('.back'), admin_question_path(@answer.question), method: :get %></div>
    <div><%= link_to t('.edit'), edit_admin_answer_path(@answer), method: :get %></div>
  </div>
</div>
