<div align="center">
  <div class="table-large-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style">
        <h2><%= t('.header', title: @question.test.title) %></h2><br>
        <span style="border: 1px solid lightgray; padding: 5px;">
          <%= @question.body %>
        </span>
      </div>
      <div class="table-constant-actions-column-style" align="center">
        <p><%= button_to t('.back'), admin_test_path(@question.test), method: :get, params: { lang: params[:lang] } %></p><hr>
        <p><%= button_to t('.edit'), edit_admin_question_path(@question), method: :get, params: { lang: params[:lang] } %></p><hr>
        <p><%= button_to t('.add_answer'), new_admin_question_answer_path(@question), method: :get, params: { lang: params[:lang] } %></p>
      </div>
    </div>
  </div>
</div>
<div align="center">
  <div class="table-large-style">
    <div class="table-row-style" align="center">
      <div class="table-flexible-column-style"><%= t('.answers') %></div>
      <div class="table-constant-actions-column-style"><%= t('admin.author_actions.header') %></div>
    </div>
  </div>
</div>
<%= render @question.answers %>
