<h2><%= test_header(@test) %></h2>

<%= form_with model: [:admin, @test], local: true do |form| %>
  <%= render 'shared/errors', instance: @test %>

  <p>
    <div><%= form.label :title %></div>
    <div><%= form.text_area :title, cols: 45, rows: 1 %></div>
  </p>

  <p>
    <div><%= form.label :category_id %></div>
    <div><%= form.collection_select :category_id, Category.order(:title), :id, :title, prompt: true %></div>
  </p>

  <p>
    <div><%= form.label :time %></div>
    <div><%= form.number_field :time %></div>
  </p>

  <br><p><div><%= form.submit %></div></p>
<% end %>
