<div class="row table-border" id="table-row">
  <div class="col-md-6 table-border" align="left">
    <% if test.published %>
      <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
    <% else %>
      <%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id }, style: "text-decoration: line-through;"  %>
    <% end %>
    <%= render 'form_inline', test: test == @test ? @test : test  %>
  </div>
  <div class="col-md-1 col-6 table-border" align="center">
    <%= test.questions.count %>
  </div>
  <div class="col-md-1 col-6 table-border" align="center">
    <% if test.published %>
      <%= link_to t('.start'), start_test_path(test), method: :post %>
    <% else %>
      ---
    <% end %>
  </div>
  <div class="col-md-4 table-border">
    <div class="row">
      <div class="col-md-4 col-4" align="center">
        <%= link_to t('admin.author_actions.watch'), admin_test_path(test), method: :get %>
      </div>
      <div class="col-md-4 col-4" align="center">
        <%= link_to t('admin.author_actions.edit'), edit_admin_test_path(test), class: "form-inline-link", method: :get, data: { test_id: test.id} %>
      </div>
      <div class="col-md-4 col-4" align="center">
        <%= link_to t('admin.author_actions.delete'), admin_test_path(test), method: :delete, data: { confirm: t('.delete_confirmation') }, style: "color: red;" %>
      </div>
    </div>
  </div>
</div>
