<div class="row table-border">
  <div class="col-md-8 table-border">
    <%= t('.header') %>
  </div>
  <div class="col-md-4 table-border">
    <%= link_to t('.new_test'), new_admin_test_path(@test), method: :get %>
  </div>
</div>
<div class="row  table-border" align="center">
  <div class="col-md-6 table-border sort-by-title pointer">
    <%= t('.title') %>
    <%= octicon 'arrow-up', class: 'green hide' %>
    <%= octicon 'arrow-down', class: 'green hide' %>
  </div>
  <div class="col-md-1 table-border">
    <%= t('.questions_count') %>
  </div>
  <div class="col-md-1 table-border">
    <%= t('.test') %>
  </div>
  <div class="col-md-4 table-border">
    <%= t('admin.author_actions.header') %>
  </div>
</div>
<div id="table-with-values">
  <%= render @tests %>
</div>
