<div align="center">
  <div class="table-large-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style">
        <h2>
          <ul style="list-style-type: none;">
            <li>Категория: <%= @test.category.title %></li>
            <li>Заголовок: <%= @test.title %></li>
            
            <!-- <li>Автор: <%#= @test.author.name %></li> -->
          </ul>
        </h2>
      </div>
      <div class="table-constant-actions-column-style" align="center">
        <p><%= button_to 'Вернуться к списку тестов', admin_tests_path, method: :get %></p><hr>
        <p><%= button_to 'Редактировать тест', edit_admin_test_path(@test), method: :get %></p><hr>
        <p><%= button_to 'Добавить вопрос', new_admin_test_question_path(@test), method: :get %></p>
      </div>
    </div>
  </div>
  <div class="table-large-style">
    <div class="table-row-style" align="center">
      <div class="table-flexible-column-style">Текст вопроса</div>
      <div class="table-constant-actions-column-style">Действия автора</div>
    </div>
  </div>
  <%= render @test.questions %>
</div>
