<h2><%= test_header(@test) %></h2>

<%= form_with model: @test, local: true do |form| %>
  <%= render 'shared/errors', instance: @test %>

  <p>
    <div><%= form.label :title, 'Заголовок теста:' %></div>
    <div><%= form.text_area :title, cols: 100, rows: 1 %></div>
  </p>

  <p>
    <div><%= form.label :category_id, 'Категория:' %></div>
    <div><%= form.collection_select :category_id, Category.order(:title), :id, :title %></div>
  </p>

  <p>
    <div><%= form.label :user_id, 'Пользователь:' %></div>
    <div><%= form.collection_select :user_id, User.order(:name), :id, :name %></div>
  </p>

  <br><p><div><%= form.submit submit_name %></div></p>
<% end %>
