<div class="row table-border">
  <div class="col-md-12 table-border">
    <%= t('.header') %>
  </div>
</div>
<div class="row table-border" align="center">
  <div class="col-md-10 table-border sort-by-title pointer">
    <%= t('.title') %>
    <%= octicon 'arrow-up', class: 'green hide' %>
    <%= octicon 'arrow-down', class: 'green hide' %>
  </div>
  <div class="col-md-1 table-border">
    <%= t('.questions_count') %>
  </div>
  <div class="col-md-1 table-border">
    <%= t('.test') %>
  </div>
</div>
<div id="table-with-values">
  <%= render @tests %>
</div>
