<div align="center">
  <div class="table-large-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style">
        <h2>
          <ul style="list-style-type: none;">
            <li><%= t('.header') %></li>
          </ul>
        </h2>
      </div>
    </div>
  </div>
  <div class="table-large-style">
    <div class="table-row-style">
      <div class="table-flexible-column-style"align="center"><%= t('.title') %></div>
      <div class="table-constant-tests-column-style" align="center"><%= t('.questions_count') %></div>
      <div class="table-constant-tests-column-style" align="center"><%= t('.test') %></div>
    </div>
  </div>
  <%= render @tests %>
</div>
