<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru / AdminPanel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
      <div class="container">
        <%= render 'shared/admin_nav' %>
        <%= render 'shared/flash' %>
      </div>
      <div class="container">
        <%= yield %>
      </div>

    <div class="footer">
      <div class="container">
        <div>
          <%= current_year %>, Родионов Иван, <%= github_url('TestGuru', '/ivanrod-gh/test-guru') %> - сайт с образовательными тестами (репозиторий GitHub)
        </div>
        <div>
          Учебный проект в онлайн-школе <a href="https://thinknetica.com/" target="_blank">Thinknetica</a>
        </div>
      </div>
    </div>
  </body>
</html>
